@model SjediBa.Models.RegisteredUserModel

@{
    ViewData["Title"] = "Stvori račun";
}

<h1 align="center">Kreacija korisničkog računa</h1>

<hr />
<div class="row justify-content-center">
    <div class="col-md-4" align="center">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <!--
            <div class="form-group">
                <label asp-for="AccountModelId" class="control-label"></label>
                <select asp-for="AccountModelId" class ="form-control" asp-items="ViewBag.AccountModelId"></select>
            </div>-->
            <div class="form-group">
                <label asp-for="Name" class="control-label">Ime</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Surname" class="control-label">Prezime</label>
                <input asp-for="Surname" class="form-control" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label">Adresa stanovanja</label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfBirth" class="control-label">Datum rođenja</label>
                <input asp-for="DateOfBirth" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" data-toggle="modal" data-target="#createAccount"/>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


<!-- Modal -->
<div class="modal fade" id="createAccount" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Kreiranje računa</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="create" class="form-horizontal" method="post" action="#">
                    <div class="form-group row">
                        <label for="name" class="col-form-label col-sm-4">Unesite username:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="name" id="name" placeholder="Username">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="date" class="col-form-label col-sm-4">Unesite password:</label>
                        <div class="col-sm-8">
                            <input type="password" class="form-control" name="date" id="date" placeholder="password">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="date" class="col-form-label col-sm-4">Ponovo unesite password:</label>
                        <div class="col-sm-8">
                            <input type="password" class="form-control" name="date" id="date" placeholder="password">
                        </div>
                    </div>
                </form>
                <span id="seatPrice"> </span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Kreiraj račun</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Odustani</button>
            </div>
        </div>
    </div>
</div>