@model SjediBa.Models.EventModel
@using SjediBa.Controllers

@{
    ViewData["Title"] = "Kreiranje događaja";
}

@{
    List<SpaceModel> spaceModels = EventController.GetSpaces();

}

@{ var json = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(spaceModels));
}

<h1 class="text-center">Kreiranje događaja</h1>

<hr />
<div class="row justify-content-center">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Naziv događaja</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Lokacija događaja</label>
                <select name="SpaceModelId" id="SpaceModelId" class="form-control"></select>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label">Vrijeme početka</label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label">Vrijeme završavanja</label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <input hidden="true" name="organizator" value="@ViewData["id"]" />
            <div class="form-group">
                <input type="submit" value="Kreiraj događaj" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<script>
    SetLocations(@json);

    function SetLocations(obj) {
        var space_element = document.getElementById('SpaceModelId');
        console.log(obj);
        for (var i = 0; i < obj.length; i++) {
            var option = document.createElement("option");
            option.setAttribute("value",  obj[i].SpaceModelId);
            option.text = obj[i].Name;
            space_element.add(option);
        }

    }
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
